html{
    height: 100%;
}

body{
    background-image: url("images/bg.png");
    background-color: #FFF3B0; /* yellow to fill in spaces*/
    background-size: contain; /* show the whole image */
    font-family: 'Life Savers', cursive;
    color: #335C67; /* blue font color */
}

table{
    margin: auto;
}

.banner{
    background-color: #E09F3E; /* gold */
}

.page{
    background-color: white;
    width: 60%;
    margin: auto;
     border: 2px solid #000000;
}

.scene{
    border-color: 5px solid #335C67; /* blue */
    width: 500;
}

button{
    background-color: #E09F3E; /* gold */
    border: #E09F3E; /* gold */
    border-radius: 7px;
    color: #335C67; /* blue */

    font-family: 'Life Savers', cursive;
    font-size: 25px;
    font-weight: bold;
    text-align: center;

    box-shadow: 2px 2px #4e5253; /* red */
}

/* DROPDOWN */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_content{
    display: none;
    position: absolute;
    background-color: #FFF3B0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown_content{
    display: block;
}

.dropdown_content a{
    color: #335C67; /* dark blue */
    padding: 12px 16px;
    text-decoration: none; /* no underline */
    display: block;
}

/* Change the color of dropdown links on hover */
.dropdown_content a:hover{
  background-color: #E09F3E; /* gold */
}
